.App {
  text-align: center;
  background-color: #7ABEE7;
}

html {
  background-color: #7ABEE7;
}

a.nav-link {
  color: white;
  font-weight: bold;
  font-size: large;
  margin-top: auto;
  margin-bottom: auto;
}

button.btn.btn-info {
  background-color: #f8f9fa;
}

table {
  border: "2px solid black";
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-left: auto;
  margin-right: auto;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
  border: 3px solid white;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
  border: 3px solid white;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #724b4b;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
  border: 2px solid rgb(0, 0, 0) !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border: 5px solid white !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
  border: 5px solid white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
  border: 5px solid white;
}


.trabajado {
  background: #00a128 !important;
  color: #000000;
}

.trabajado-no.aplica {
  background: #00a128 !important;
  color: #000000;
}


.libre {
  background: #f53232 !important;
  color: #ffffff;
}

.libre-no.aplica {
  background: #f53232 !important;
  color: #ffffff;
}

.reposo-pendiente {
  background: gray !important;
  color: #000000;
}

.reposo-sí {
  background: #0f3bff !important;
  color: #000000;
}

.reposo-no {
  background: #001057 !important;
  color: #ffffff;
}

.reposo-gth {
  background: orange !important;
  color: #000000;
}

h1 {
  color: white !important;
  max-width: 500px;
  margin: auto;
  background-color: #013466;
  padding: 20px;
}

.pregunta {
  color: white;
  background-color: #013466;
  border: 5px solid black;
  border-radius: 25px;
}
